html,body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
body{    
    font-family: 'PT Sans', sans-serif;
    background-color: $bodyBase;
    font-size: 16px;
    color:#3B4856;
    letter-spacing: 0.05rem;
    &::before{
        height: 100vh;
        // background-color: $bodyBg;
        position: fixed;
        bottom:auto;
        // left:-10%;
        right: auto;
        top: auto;
        width:100%;
        content: '';
        min-height: 400px;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        opacity: 1;
    }
    &.rotate{
        @media (min-width: 767px) {
            &::before{
                // transform: rotate(45deg);
                // height: 125vh;
                // opacity:0.5;
            }
        }
    }
}
h1{
    font-size: 3rem;
    font-family: 'Monoton', cursive;
}
h2{
    font-size: 2rem;
    margin-bottom: 1.1em;
    margin-top:1.5em;
    color: $headerColor;
    text-shadow: 1px 6px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    i.material-icons{
        min-width: 40px;
    }
}