.header {
  // padding: 40px 0;
  a,
  a:hover {
    text-decoration: none;
  }
  .title {
    color: white;
    // font-weight: bold;
    text-shadow: 1px 4px 8px rgba(0, 115, 207, 0.2);
    margin: 40px 0 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: white;
      display: flex;
      margin: 10px 0;
      align-items: center;
      font-weight: 300;
      i {
        margin-right: 10px;
        color: #df7100;
      }
    }
  }
  .profession {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    span {
      color: $skillLevelColor;
      text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
.section {
  padding: 40px;
}
.employment-history {
  .company {
    margin: 0 0 60px 0;
    ul {
      margin: 0;
    }
  }
}
.section-title {
  &.history {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom:1.5rem;
    @media (min-width: 768px) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
  h5 {
    color: $sectionTitleColor;
  }
  .duration {
    color: $sectionSubTitleColor;
    width: 210px;
    margin-left: 40px;
    text-align: right;
    position: relative;
  }
  .link {
    margin: 10px 0 20px;

    a {
      color: $linkColor;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }
}

.professioal-experience {
  .company {
    margin: 0 0 60px 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      list-style: none;
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      span {
        font-weight: bold;
        min-width: 200px;
        display: inline-block;       
      }
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
}

.sidebar {
  // color: white;
  h2 {
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &::before {
    content: "";
    background-color: $sidebarBg;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .skills {
    .bar {
      position: relative;
      width: 100%;
      min-height: 10px;
      padding: 0 10px;
      margin-bottom: 50px;
      display: inline-block;
      // color: white;
      // overflow: hidden;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        left: 0;
        top: 100%;
        margin-top: 10px;
        background-color: $skillLevelColor;
        border-radius: 20px;
        height: 10px;
      }
      &::before {
        background-color: $skillBaseColor;
        width: 100%;
        box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
      }
      &.level-5 {
        &::after {
          @include skillWidth(5);
        }
      }
      &.level-4 {
        &::after {
          @include skillWidth(4);
        }
      }
      &.level-3 {
        &::after {
          @include skillWidth(3);
        }
      }
      &.level-2 {
        &::after {
          @include skillWidth(2);
        }
      }
      &.level-1 {
        &::after {
          @include skillWidth(1);
        }
      }
    }
  }

  .education {
    ul {
      li {
        margin-bottom: 20px;
        > div {
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }
  }

  .certification-courses {
    li {
      margin-bottom: 40px;
      > div {
        display: flex;
        div.img {
          width: 80px;
          height: 80px;
          min-width: 80px;
          border-radius: 8px;
          overflow: hidden;
          margin-right: 10px;
          img {
            width: 100%;
          }
        }
        div.title {
          h5 {
            font-size: 1.1rem;
          }
          > div {
            display: flex;
            > span:first-child {
              width: 80px;
            }
          }
        }
        > span {
          width: 100px;
          display: inline-block;
        }
      }
    }
  }
}

h2 {
  i.material-icons {
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $iconCircleCol;
    color: white;
    margin-right: 10px;
  }
}
