$bodyBase: rgba(0, 115, 207, 0.02);
$bodyBg: rgba(0, 115, 207, 0.2);

$canvasBg: rgba(255, 255, 255, 1);
$edgeBg: rgba(40, 173, 115, 1);
$edgeEndBg: rgba(0, 106, 144, 1);

$linkColor: #008E83;

$sidebarBg: rgba(173, 197, 207, 0.5);
$skillBaseColor: #FCF7FF;
$skillLevelColor: #00C2A8;

$sectionTitleColor: #DF7100;
$sectionSubTitleColor: #008793;

$iconCircleCol: #00C2A8;

$headerColor: #00C2A8;