$bodyBase: rgba(0, 115, 207, 0.02);
$bodyBg: rgba(0, 115, 207, 0.2);

$canvasBg: rgba(255, 255, 255, 1);
$edgeBg: rgba(40, 173, 115, 1);
$edgeEndBg: rgba(0, 106, 144, 1);

$iconColor: gray;

$linkColor: #8077FF;

$sidebarBg: #B0A8B9;
$skillBaseColor: #FCF7FF;
$skillLevelColor: #00C2A8;

$sectionTitleColor: #DF7100;
$sectionSubTitleColor: #B9477E;