/*
body{
    color: red;
    
    @include mq(767px) {    
        color: red;
    }
}
*/
/*
.title {
    @include uc;
}

*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(0, 115, 207, 0.02);
  font-size: 16px; }
  body::before {
    height: 125vh;
    position: fixed;
    bottom: auto;
    left: -10%;
    right: auto;
    top: auto;
    width: 125%;
    content: '';
    min-height: 400px;
    background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
    opacity: 0.25; }
  body.rotate::before {
    transform: rotate(45deg); }

h1 {
  font-size: 3rem;
  font-family: 'Monoton', cursive; }

h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  margin-top: 1.5em; }

#canvas {
  background-color: white;
  min-height: 80vh;
  box-shadow: 0px 1px 60px 20px rgba(200, 200, 200, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 100px; }
  #canvas::after {
    content: '';
    background-color: #28ad73;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(105deg);
    top: -95%;
    right: -70%; }

i.material-icons {
  color: gray; }

.home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative; }

.header {
  padding: 40px; }
  .header .title {
    color: white;
    text-shadow: 1px 4px 8px rgba(0, 115, 207, 0.2);
    margin: 40px 0 20px; }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header ul li {
      color: #4b6071;
      display: flex;
      margin: 10px 0;
      align-items: center;
      font-weight: 300; }
      .header ul li i {
        margin-right: 10px; }
  .header .profession {
    font-size: 2rem;
    margin-bottom: 1.5rem; }

.section {
  padding: 40px; }

.employment-history .company {
  margin: 0 0 60px 0; }
  .employment-history .company ul {
    margin: 0; }

.section-title.history {
  display: flex;
  justify-content: space-between; }

.section-title h5 {
  color: #DF7100; }

.section-title .duration {
  color: #B9477E;
  width: 200px;
  margin-left: 40px;
  text-align: right;
  position: relative; }

.section-title .link {
  margin: 10px 0 20px; }
  .section-title .link a {
    color: #8077FF; }

.professioal-experience .company {
  margin: 0 0 60px 0; }
  .professioal-experience .company ul {
    margin: 0;
    padding: 0; }
  .professioal-experience .company li {
    margin: 0;
    list-style: none; }
    .professioal-experience .company li span {
      font-weight: bold;
      width: 200px;
      display: inline-block; }

.sidebar {
  color: white; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .sidebar::before {
    content: '';
    background-color: #B0A8B9;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .sidebar .skills .bar {
    position: relative;
    width: 100%;
    min-height: 10px;
    padding: 0 10px;
    margin-bottom: 50px;
    display: inline-block; }
    .sidebar .skills .bar::after, .sidebar .skills .bar::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      top: 100%;
      margin-top: 10px;
      background-color: #00C2A8;
      border-radius: 20px;
      height: 10px; }
    .sidebar .skills .bar::before {
      background-color: #FCF7FF;
      width: 100%;
      box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2); }
    .sidebar .skills .bar.level-5::after {
      width: 100%; }
    .sidebar .skills .bar.level-4::after {
      width: 80%; }
    .sidebar .skills .bar.level-3::after {
      width: 60%; }
    .sidebar .skills .bar.level-2::after {
      width: 40%; }
    .sidebar .skills .bar.level-1::after {
      width: 20%; }
  .sidebar .education ul li {
    margin-bottom: 20px; }
    .sidebar .education ul li > div {
      font-weight: bold;
      font-size: 1.2em; }
  .sidebar .certification-courses li {
    margin-bottom: 40px; }
    .sidebar .certification-courses li > div {
      display: flex; }
      .sidebar .certification-courses li > div div.img {
        width: 80px;
        height: 80px;
        min-width: 80px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 10px; }
        .sidebar .certification-courses li > div div.img img {
          width: 100%; }
      .sidebar .certification-courses li > div div.title h5 {
        font-size: 1.1rem; }
      .sidebar .certification-courses li > div div.title > div {
        display: flex; }
        .sidebar .certification-courses li > div div.title > div > span:first-child {
          width: 80px; }
      .sidebar .certification-courses li > div > span {
        width: 100px;
        display: inline-block; }
